Html{
    background-color: black ;
}
*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo{
    width: 170px;
   
    
}
.franchise-btn {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
}
html{
font-size: 62.5%;
}
:root {
  --blue: #000000;
  --white: #ffffff;
  --red: #e71717;
}
.text-white{
    color: #ffffff;
}

.navbar{
    margin-left: 400px;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  height: 100px;
    
}
.order-btn {
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    
  
}
.icon-bg {
    background-color: var(--white);
    padding: 5px 7px;
    margin-left: 2px;
    border-radius: 20px;
}
.fa-arrow-right{
    color: #e71717;
}
.heading{
margin: 30px;
padding: 30px;
font-family: "Poppins", sans-serif;
  font-weight: 50;
  font-style: normal;
}
.heading-brand{
    font-size: 4rem;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}
.para-brand{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
    font-size: 1.5rem;
    font-weight: 100;
    color: #ffffffb3;
}
@font-face {
    font-family: 'futurak';
    src: url('../fonts/futurak.ttf');
}
.futurak{
    font-family: futurak;
    font-size: 5.2rem;
}
.brand-image{
    width: 200px;
    border-radius: 3px;
    background-color: #ffffff;
}
.order-btn2{
    background-color: var(--tranparent);
    border: 0.5px solid white;
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
}

.section2{
    font-size: 4rem;
    font-weight: 100;
    margin: 110px 0px 0px 0px;
    
}
.brand-text{
    font-size: 4rem;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}
.bg-img{
    display: flex;
    justify-content: right;
    margin-top: -220px;

}
.add{
    font-size: 4rem;
    font-weight: 100;
    margin: 110px 0px 0px 0px;
    
}
.para2{
    font-size: 1.6rem;
    margin: 0px 0px 0px 50px;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: start;
    

    
}
.red-isl{
    color: #e71717;
    font-size: 1.6rem;
    margin: 0px 0px 0px 50px;
    letter-spacing: 10px;
    font-family: "Apercu";
    src: url(/fonts/Apercu-Font-Family.zip)
}
.para-sizing{
     font-size: 3rem;
     margin: 0px 30px 0px 50px;
     padding-bottom:10px ;
}

.get-btn{
    background-color: var(--tranparent);
    border: 0.5px solid white;
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 40px 0px 0px 50px;
}
.p-img{
    position: absolute;
    margin: 0px 0px 0px 0px;
    right: 70px;
    display: flex;
    flex-direction: column;
    width: 500px;
    
}

.bk-img{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: -650px;
   margin-top: -220px;
   
   
}
.add2{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 0px 0px 0px;
    
}
.add3{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    margin-left: -700px;
    margin-top: -300px;
}
.simg{
    padding-right: 50px;
}
.heading-m{
    margin-top: 170px;
    margin-left: 380px;
}
.img-1{
    width: 356px;
}
.img-2{
    width: 370px;
}
.futurak2{
    font-family: futurak;
    font-size: 2rem;
}
.para3{
    font-size: 1.2rem;
    margin: 0px 0px 0px 50px;
    color: #ffffffb3;
}
.parent2{
    margin-left: -680px;
    margin-top: 50px;
}
.parent-3{
    margin-left: -680;
}
.parent4{
    margin-left: 380px;
    margin-top: 50px;
}
.h3{
    margin-left: 380px;
    margin-top: 50px;

}
.img11{
    width: 597px;
    margin-left: -70px;
    margin-right: 0px;

}
.img-g{
    margin-right: -200px;
    margin-top: 60px;
    color: #ffffffb3;

}
.get-btn2{
    background-color: #28a745;
    border: 0.5px solid white;
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 40px 0px 0px 50px;
}
.fa-arrow-right2{
    color: #28a745;
}
.h4{
    margin-left: 200px;
    margin-top: 50px;
}
.white{
    background-color: #ffffff;
    width: 355px;
    height: 275px;
}
.clr-red{
    color: #e71717;
    font-size: 2rem;
    font-weight: 50;
}
.f-size{
    font-size: 2.2rem;
}
.boxes{

    margin-top: 50px;
   
}
.box1{
    border: none;
    border-radius: 6px;
    
}
.box2{
    margin:0px 20px ;
    border: none;
    border-radius: 6px;
}
.box3{
    border: none;
    border-radius: 6px;
}
.limg{
    margin-top: 30px;
}
.red-isl2{
    color: #e71717;
    font-size: 1.3rem;
    font-weight: 50;
    margin-top: 40px;
    
}
.boxses2{
    margin-top: 10px;
}
.boxses3{
    margin-top: 10px;
    margin-left: 380px;
}
.boxl{
    border: none;
    border-radius: 6px;

}
.hs{
    color: #212529;
    margin-top: 100px;
    padding-left: 430px;
}
.main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-w{
   width: 230px;
}
.fw{
    margin: 0px 20px;
}
.web-img{
    width: 140px;
}
.li{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    display: inline;
}
.li2{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
.f1{
    font-size: 16px;
    color: #ffffffb3;
}
.a1{
    text-decoration: none;
    color: #ffffffb3;
}
.f16{
    font-family: appercu;
    src: url(/fonts/Apercu-Font-Family.zip);
    font-size: 16px;
}
.a2{
    text-decoration: none;
    color: #ffffffb3;
    font-size: 15px;
}
.a3{
    background-color: #e71717;
    padding: 15px 20px;
    margin-left: 2px;
    border-radius: 25px;
    color: #ffffff;
    font-size: medium;
}
.d1{
    margin-left: -80px;
}
.footer1{
    margin-top: 100px;
}
.d4{
    margin-left: 150px;
}
.d3{
   margin-left: 80px;
}
.d2{
    margin-left: 100px;
}
.bk2{
    position: absolute;
    margin-top: -450px;
    margin-left: -80px;
}
.a4{
    font-size: 15px;
    text-decoration: none;
    color:#ffffff

}
.last1{
  margin-right: 900px;
  
}
.abouth1{
    font-size: 40px;
}
.text-g{
    color: #ffffffb3;
}
@font-face{
    font-family: apercu;
    src: url(/fonts/Apercu-Font-Family.zip);
}
.apercu{
    font-family: apercu;
    font-size: 40px;
}
.ah1{
    margin-right: 70px;
    margin-left: 70px;
}
.abouth2{
    margin-right: 70px;
    margin-left: 70px;
}
.a-img1{
    margin-left: 70px;
    margin-top: 70px;
}
.aimg-w{
width: 536px;
margin-left: 620px;
margin-top: -165px;
border-radius: 5px;
}
.rh{
    margin-left: -2px;
}
.aimg-2{
    width: 550px;
    margin-left: 70px;
    border-radius: 5px;
}
.about3{
    margin-top: 50px;
}
.rh2{
    padding-left: 0px;
    margin-left: 0px;
 }
 .futurak3{
    font-family: futurak;
    font-size: 30px;
 }
 .aimg-3{
    width: 500px;
    margin-left: 650px;
    margin-top: -50px;
    border-radius: 5px;
 }
 .about4{
    margin-top: 400px;
    margin-left: -550px;
 }
 .aimg-4{
    
    margin-left: -530px;
    width: 550px;
    border-radius: 5px;
 }
 .about4-2{
    margin-top: -110px;
 }
 .about5{
    margin-top: 50px;
    margin-left: -450px;
 }
 .a5-1{
    margin-left: -80px;
 }
 .aimg-5{
margin-left: 50px;
border-radius: 5px;
 }
 .bn{
    margin-left: -0px;
 }
 .about6{
    margin-top: 80px;
    margin-left: -150px;
 }
 .about-p1{
    margin-left: -280px;
    
 }
 .aimg-6{
    width: 500px;
    border-radius: 5px;
 }
 .aimg-d{
margin-left: -1200px;
margin-top: 50px;
 }
 .aimg-d2{
    margin-top: -300px;
 }
 .pr2{
    margin-bottom: 50px;
    padding-top: 50px;
 }
 .imgr1{
    width: 280px;
    height: 250px;
 }
 .f10{
    font-size: 12px;
 }
 .row-d1{
 background-color: #ffffff0f;
 margin-left:50px ;
 padding: 22px;
 border-radius: 5px;
 }
 .row-d2{
    background-color: #ffffff0f;
 margin-left:30px ;
 padding: 12px;
 border-radius: 5px;
 }
 .row-d3{
    background-color: #ffffff0f;
 margin-left:30px ;
 padding: 12px;
 border-radius: 5px;
 }
 .row-d4{
    background-color: #ffffff0f;
 margin-left:60px ;
 padding: 12px;
 border-radius: 5px;
 width: 310px;
 }
 .row-d5{
    background-color: #ffffff0f;
    margin-left:30px ;
    padding: 12px;
    border-radius: 5px;
    width: 310px;
 }
 .aimg-7{
    width: 500px;
 }
 .a-isl{
    color: #212529;
    font-size: 1.6rem;
    margin: 0px 0px 0px 50px;
    font-family: "Apercu";
    src: url(/fonts/Apercu-Font-Family.zip)
 }
 .abk{
    position: absolute;
    margin-top: -400px;
    margin-left: -30px;
    
 }
.footerabout{
    background-color: #ffffff0f;
}
 .fimg{
    width: 250px;
    height: 392px;
 }
 .last{
    background-color: #000000;
 }